DB_HOST=localhost
DB_NAME=room_vibe
DB_USERNAME=root
DB_PASSWORD=


ENVIRONMENT=development
# BASE_PATH=/public
LOG_LEVEL=DEBUG


CLOUDINARY_CLOUD_NAME=room-vibe
CLOUDINARY_API_KEY=127578477767417
CLOUDINARY_API_SECRET=JCWua8NNaHBsFpIUpz7UWzzRRIs