DB_HOST=room-vibe-room-vibe.k.aivencloud.com
DB_NAME=avnadmin
DB_PASSWORD=AVNS_klDJIQwo0UY2ITG08iu
DB_USERNAME=avnadmin


ENVIRONMENT=development
BASE_PATH=''
LOG_LEVEL=DEBUG


CLOUDINARY_CLOUD_NAME=room-vibe
CLOUDINARY_API_KEY=127578477767417
CLOUDINARY_API_SECRET=JCWua8NNaHBsFpIUpz7UWzzRRIs
