DB_HOST="ep-odd-math-a5m4yik8-pooler.us-east-2.aws.neon.tech"
DB_NAME="room-vibe"
DB_USERNAME="room-root"
DB_PASSWORD="npg_hgmDxv5U4iMo"

DISPLAY_ERROR_DETAILS="false"
BASE_PATH="/public"
LOG_LEVEL="DEBUG"

CLOUDINARY_CLOUD_NAME="room-vibe"
CLOUDINARY_API_KEY="127578477767417"
CLOUDINARY_API_SECRET="JCWua8NNaHBsFpIUpz7UWzzRRIs"
